.create {
  display: flex;
  flex-direction: column;
  background-color: #fef9ef;
  margin: auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #beb7b7;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.create h2 {
  text-align: center;
}
.create label {
  text-align: center;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  font-size: 1em;
  justify-content: center;
  width: 60%;
  padding: 6px 10px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  margin: -20px -50px;
  position: relative;
  top: 50%;
  left: 50%;
}
