
.App {
  max-width: 1080px;
  margin: 0 auto;
}
nav {
  background-color: #FEF9EF;
  padding: 0px 20px;
  display: flex;
  border-radius: 20px;
  margin: 10px auto 60px;
  gap: 10px;
  align-items: center;
}
nav h1 {
  margin-right: auto;
}
nav a {
  color: #333;
  border-radius: 10px;
  padding: 4px 10px;
}

nav a.active{
  color: rgb(255, 255, 255);
  background-color: #333;
  text-decoration: none;
}
.createbtn{
  padding: 6px;
  text-decoration: none;
  background-color: rgb(125, 180, 243);
}
.createbtn:hover{
  text-decoration: none;
  background-color: rgb(53, 147, 255);
}